.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.header {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}


body {
  padding: 2em; 
}